<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="787ea57f-cf6e-4676-a146-97d1cb314a79" Version="1.0.0.0" Publisher="CN=lamas_000" />
  <Properties>
    <DisplayName>Atarea2Curso</DisplayName>
    <PublisherDisplayName>lamas_000</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Atarea2Curso" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Atarea2Curso" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>Text</DataFormat>
            <DataFormat>HTML</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
  </Capabilities>
</Package>